img {
  position: absolute;
}

#s265 {
  left: 203px;
  top: 900px;
}

#s261 {
  left: 530px;
  top:  293px;
}
#s262 {
  left: 547px;
  top:  293px;
}
#s263 {
  left: 530px;
  top:  321px;
}
#s264 {
  left: 547px;
  top:  321px;
}

#s257 {
  left: 530px;
  top:  237px;
}
#s258 {
  left: 547px;
  top:  237px;
}
#s259 {
  left: 530px;
  top:  265px;
}
#s260 {
  left: 547px;
  top:  265px;
}

#s253 {
  left: 530px;
  top:  181px;
}
#s254 {
  left: 547px;
  top:  181px;
}
#s255 {
  left: 530px;
  top:  209px;
}
#s256 {
  left: 547px;
  top:  209px;
}

#s249 {
  left: 530px;
  top:  126px;
}
#s250 {
  left: 547px;
  top:  126px;
}
#s251 {
  left: 530px;
  top:  154px;
}
#s252 {
  left: 547px;
  top:  154px;
}

#s245 {
  left: 530px;
  top:  68px;
}
#s246 {
  left: 547px;
  top:  68px;
}
#s247 {
  left: 530px;
  top:  96px;
}
#s248 {
  left: 547px;
  top:  96px;
}

#s241 {
  left: 530px;
  top:  13px;
}
#s242 {
  left: 547px;
  top:  13px;
}
#s243 {
  left: 530px;
  top:  41px;
}
#s244 {
  left: 547px;
  top:  41px;
}

#s233 {
  left: 465px;
  top:  61px;
}
#s234 {
  left: 465px;
  top:  77px;
}
#s235 {
  left: 465px;
  top:  93px;
}
#s236 {
  left: 465px;
  top:  109px;
}
#s237 {
  left: 493px;
  top:  61px;
}
#s238 {
  left: 493px;
  top:  77px;
}
#s239 {
  left: 493px;
  top:  93px;
}
#s240 {
  left: 493px;
  top:  109px;
}

#s225 {
  left: 465px;
  top:  158px;
}
#s226 {
  left: 465px;
  top:  174px;
}
#s227 {
  left: 465px;
  top:  190px;
}
#s228 {
  left: 465px;
  top:  206px;
}
#s229 {
  left: 493px;
  top:  158px;
}
#s230 {
  left: 493px;
  top:  174px;
}
#s231 {
  left: 493px;
  top:  190px;
}
#s232 {
  left: 493px;
  top:  206px;
}

#s217 {
  left: 465px;
  top:  254px;
}
#s218 {
  left: 465px;
  top:  270px;
}
#s219 {
  left: 465px;
  top:  286px;
}
#s220 {
  left: 465px;
  top:  302px;
}
#s221 {
  left: 493px;
  top:  254px;
}
#s222 {
  left: 493px;
  top:  270px;
}
#s223 {
  left: 493px;
  top:  286px;
}
#s224 {
  left: 493px;
  top:  302px;
}

#s213 {
  left: 421px;
  top:  286px;
}
#s214 {
  left: 421px;
  top:  302px;
}
#s215 {
  left: 449px;
  top:  286px;
}
#s216 {
  left: 449px;
  top:  302px;
}

#s209 {
  left: 421px;
  top:  240px;
}
#s210 {
  left: 421px;
  top:  256px;
}
#s211 {
  left: 449px;
  top:  240px;
}
#s212 {
  left: 449px;
  top:  256px;
}

#s201 {
  left: 421px;
  top:  161px;
}
#s202 {
  left: 421px;
  top:  177px;
}
#s203 {
  left: 421px;
  top:  193px;
}
#s204 {
  left: 421px;
  top:  209px;
}
#s205 {
  left: 449px;
  top:  161px;
}
#s206 {
  left: 449px;
  top:  177px;
}
#s207 {
  left: 449px;
  top:  193px;
}
#s208 {
  left: 449px;
  top:  209px;
}

#s197 {
  left: 421px;
  top:  112px;
}
#s198 {
  left: 421px;
  top:  128px;
}
#s199 {
  left: 449px;
  top:  112px;
}
#s200 {
  left: 449px;
  top:  128px;
}

#s193 {
  left: 421px;
  top:   61px;
}
#s194 {
  left: 421px;
  top:   77px;
}
#s195 {
  left: 449px;
  top:   61px;
}
#s196 {
  left: 449px;
  top:   77px;
}


#s185 {
  left: 421px;
  top:   -11px;
}
#s186 {
  left: 421px;
  top:   5px;
}
#s187 {
  left: 421px;
  top:   21px;
}
#s188 {
  left: 421px;
  top:   37px;
}
#s189 {
  left: 449px;
  top:   -11px;
}
#s190 {
  left: 449px;
  top:   5px;
}
#s191 {
  left: 449px;
  top:   21px;
}
#s192 {
  left: 449px;
  top:   37px;
}

#s181 {
  left: 376px;
  top: 13px;
}
#s182 {
  left: 376px;
  top: 29px;
}
#s183 {
  left: 404px;
  top: 13px;
}
#s184 {
  left: 404px;
  top: 29px;
}

#s173 {
  left: 375px;
  top: 69px;
}
#s174 {
  left: 375px;
  top: 85px;
}
#s175 {
  left: 375px;
  top: 101px;
}
#s176 {
  left: 375px;
  top: 117px;
}
#s177 {
  left: 402px;
  top: 69px;
}
#s178 {
  left: 402px;
  top: 85px;
}
#s179 {
  left: 402px;
  top: 101px;
}
#s180 {
  left: 402px;
  top: 117px;
}

#s169 {
  left: 376px;
  top: 149px;
}
#s170 {
  left: 376px;
  top: 165px;
}
#s171 {
  left: 403px;
  top: 149px;
}
#s172 {
  left: 403px;
  top: 165px;
}

#s165 {
  left: 376px;
  top: 194px;
}
#s166 {
  left: 376px;
  top: 210px;
}
#s167 {
  left: 403px;
  top: 194px;
}
#s168 {
  left: 403px;
  top: 210px;
}

#s161 {
  left: 402px;
  top: 241px;
}
#s162 {
  left: 402px;
  top: 257px;
}
#s163 {
  left: 402px;
  top: 273px;
}
#s164 {
  left: 402px;
  top: 289px;
}
#s157 {
  left: 375px;
  top: 241px;
}
#s158 {
  left: 375px;
  top: 257px;
}
#s159 {
  left: 375px;
  top: 273px;
}
#s160 {
  left: 375px;
  top: 289px;
}

#stul28 {
  left: 436px;
  top:  372px;
}
#s153 {
  left: 421px;
  top:  373px;
}
#s154 {
  left: 421px;
  top:  389px;
}
#s155 {
  left: 450px;
  top:  373px;
}
#s156 {
  left: 450px;
  top:  389px;
}

#stul27 {
  left: 382px;
  top:  341px;
}
#s145 {
  left: 366px;
  top:  341px;
}
#s146 {
  left: 366px;
  top:  357px;
}
#s147 {
  left: 366px;
  top:  373px;
}
#s148 {
  left: 366px;
  top:  389px;
}
#s149 {
  left: 395px;
  top:  341px;
}
#s150 {
  left: 395px;
  top:  357px;
}
#s151 {
  left: 395px;
  top:  373px;
}
#s152{
  left: 395px;
  top:  389px;
}

#stul26 {
  left: 327px;
  top:  341px;
}
#s137 {
  left: 311px;
  top:  341px;
}
#s138 {
  left: 311px;
  top:  357px;
}
#s139 {
  left: 311px;
  top:  373px;
}
#s140 {
  left: 311px;
  top:  389px;
}
#s141 {
  left: 340px;
  top:  341px;
}
#s142 {
  left: 340px;
  top:  357px;
}
#s143 {
  left: 340px;
  top:  373px;
}
#s144{
  left: 340px;
  top:  389px;
}

#stul25 {
  left: 273px;
  top:  341px;
}
#s129 {
  left: 258px;
  top:  341px;
}
#s130 {
  left: 258px;
  top:  357px;
}
#s131 {
  left: 258px;
  top:  373px;
}
#s132 {
  left: 258px;
  top:  389px;
}
#s133 {
  left: 286px;
  top:  341px;
}
#s134 {
  left: 286px;
  top:  357px;
}
#s135 {
  left: 286px;
  top:  373px;
}
#s136{
  left: 286px;
  top:  389px;
}

#stul24 {
  left: 218px;
  top:  341px;
}
#s121 {
  left: 203px;
  top:  341px;
}
#s122 {
  left: 203px;
  top:  357px;
}
#s123 {
  left: 203px;
  top:  373px;
}
#s124 {
  left: 203px;
  top:  389px;
}
#s125 {
  left: 231px;
  top:  341px;
}
#s126 {
  left: 231px;
  top:  357px;
}
#s127 {
  left: 231px;
  top:  373px;
}
#s128{
  left: 231px;
  top:  389px;
}

#stul23 {
  left: 163px;
  top:  341px;
}
#s113 {
  left: 148px;
  top:  341px;
}
#s114 {
  left: 148px;
  top:  357px;
}
#s115 {
  left: 148px;
  top:  373px;
}
#s116 {
  left: 148px;
  top:  389px;
}
#s117 {
  left: 176px;
  top:  341px;
}
#s118 {
  left: 176px;
  top:  357px;
}
#s119 {
  left: 176px;
  top:  373px;
}
#s120{
  left: 176px;
  top:  389px;
}

#stul22 {
  left: 108px;
  top:  373px;
}
#s109 {
  left: 93px;
  top:  373px;
}
#s110 {
  left: 93px;
  top:  389px;
}
#s111 {
  left: 121px;
  top:  373px;
}
#s112 {
  left: 121px;
  top:  389px;
}

#stul21 {
  left: 158px;
  top:  232px;
}
#s101 {
  left: 144px;
  top:  232px;
}
#s102 {
  left: 144px;
  top:  248px;
}
#s103 {
  left: 144px;
  top:  264px;
}
#s104 {
  left: 144px;
  top:  280px;
}
#s105 {
  left: 171px;
  top:  232px;
}
#s106 {
  left: 171px;
  top:  248px;
}
#s107 {
  left: 171px;
  top:  264px;
}
#s108 {
  left: 171px;
  top:  280px;
}

#stul20 {
  left: 158px;
  top:  187px;
}
#s97 {
  left: 144px;
  top:  187px;
}
#s98 {
  left: 144px;
  top:  204px;
}
#s99 {
  left: 171px;
  top:  187px;
}
#s100 {
  left: 171px;
  top:  204px;
}

#stul19 {
  left: 158px;
  top:  142px;
}
#s93 {
  left: 144px;
  top:  142px;
}
#s94 {
  left: 144px;
  top:  159px;
}
#s95 {
  left: 171px;
  top:  142px;
}
#s96 {
  left: 171px;
  top:  159px;
}

#stul18 {
  left: 158px;
  top:  67px;
}
#s85 {
  left: 144px;
  top:  67px;
}
#s86 {
  left: 144px;
  top:  83px;
}
#s87 {
  left: 144px;
  top:  99px;
}
#s88 {
  left: 144px;
  top:  115px;
}
#s89 {
  left: 171px;
  top:  67px;
}
#s90 {
  left: 171px;
  top:  83px;
}
#s91 {
  left: 171px;
  top:  99px;
}
#s92 {
  left: 171px;
  top:  115px;
}
#stul17 {
  left: 158px;
  top:  17px;
}
#s81 {
  left: 144px;
  top:  17px;
}
#s82 {
  left: 144px;
  top:  34px;
}
#s83 {
  left: 171px;
  top:  17px;
}
#s84 {
  left: 171px;
  top:  34px;
}
#stul16 {
  top:  16px;
  left: 114px;
}
#s77 {
  left: 99px;
  top:  16px;
}
#s78 {
  left: 99px;
  top:  33px;
}
#s79 {
  left: 127px;
  top:  16px;
}
#s80 {
  left: 127px;
  top:  33px;
}
#stul15 {
  top:  61px;
  left: 114px;
}
#s73 {
  left: 100px;
  top:  61px;
}
#s74 {
  left: 100px;
  top:  77px;
}
#s75 {
  left: 127px;
  top:  61px;
}
#s76 {
  left: 127px;
  top:  77px;
}
#stul14 {
  top:  100px;
  left: 114px;
}
#s69 {
  left: 100px;
  top:  100px;
}
#s70 {
  left: 100px;
  top:  117px;
}
#s71 {
  left: 127px;
  top:  100px;
}
#s72 {
  left: 127px;
  top:  117px;
}

#stul13 {
  top:  142px;
  left: 114px;
}
#s61 {
  left: 100px;
  top:  142px;
}
#s62 {
  left: 100px;
  top:  158px;
}
#s63 {
  left: 100px;
  top:  174px;
}
#s64 {
  left: 100px;
  top:  190px;
}
#s65 {
  left: 127px;
  top:  142px;
}
#s66 {
  left: 127px;
  top:  158px;
}
#s67 {
  left: 127px;
  top:  174px;
}
#s68 {
  left: 127px;
  top:  190px;
}
#stul12 {
  top:  227px;
  left: 114px;
}
#s57 {
  left: 100px;
  top:  228px;
}
#s58 {
  left: 100px;
  top:  245px;
}
#s59 {
  left: 127px;
  top:  228px;
}
#s60 {
  left: 127px;
  top:  245px;
}

#stul11 {
  top:  273px;
  left: 114px;
}
#s55 {
  left: 127px;
  top:  273px;
}
#s56 {
  left: 127px;
  top:  289px;
}
#s53 {
  left: 100px;
  top:  273px;
}
#s54 {
  left: 100px;
  top:  289px;
}
#stul10 {
  top:  240px;
  left: 70px;
}
#s45 {
  left: 55px;
  top:  241px;
}
#s46 {
  left: 55px;
  top:  257px;
}
#s47 {
  left: 55px;
  top:  273px;
}
#s48 {
  left: 55px;
  top:  289px;
}
#s49 {
  left: 83px;
  top:  241px;
}
#s50 {
  left: 83px;
  top:  257px;
}
#s51 {
  left: 83px;
  top:  273px;
}
#s52 {
  left: 83px;
  top:  289px;
}
#stul9 {
  top:  150px;
  left: 70px;
}
#s37 {
  left: 55px;
  top:  151px;
}
#s38 {
  left: 55px;
  top:  167px;
}
#s39 {
  left: 55px;
  top:  183px;
}
#s40 {
  left: 55px;
  top:  199px;
}
#s41 {
  left: 83px;
  top:  151px;
}
#s42 {
  left: 83px;
  top:  167px;
}
#s43 {
  left: 83px;
  top:  183px;
}
#s44 {
  left: 83px;
  top:  199px;
}

#stul8 {
  top:  60px;
  left: 70px;
}

#s29 {
  left: 55px;
  top:  61px;
}
#s30 {
  left: 55px;
  top:  77px;
}
#s31 {
  left: 55px;
  top:  93px;
}
#s32 {
  left: 55px;
  top:  109px;
}
#s33 {
  left: 83px;
  top:  61px;
}
#s34 {
  left: 83px;
  top:  77px;
}
#s35 {
  left: 83px;
  top:  93px;
}
#s36 {
  left: 83px;
  top:  109px;
}

#stul7 {
  top:   0px;
  left: 70px;
}
#s25 {
  left: 55px;
  top:   0px;
}
#s26 {
  left: 55px;
  top:  16px;
}
#s27 {
  left: 83px;
  top: 0px;
}
#s28 {
  left: 83px;
  top: 16px;
}

#stul6 {
  top: 300px;
  left: 5px;
}
#s21 {
  left: 5px;
  top: 285px;
}
#s22 {
  left: 22px;
  top: 285px;
}
#s23 {
  left: 5px;
  top: 313px;
}
#s24 {
  left: 22px;
  top: 313px;
}

#stul5 {
  top: 245px;
  left: 5px;
}
#s17 {
  left: 5px;
  top: 230px;
}
#s18 {
  left: 22px;
  top: 230px;
}
#s19 {
  left: 5px;
  top: 258px;
}
#s20 {
  left: 22px;
  top: 258px;
}

#stul4 {
  top: 190px;
  left: 5px;
}
#s13 {
  left: 5px;
  top: 175px;
}
#s14 {
  left: 22px;
  top: 175px;
}
#s15 {
  left: 5px;
  top: 203px;
}
#s16 {
  left: 22px;
  top: 203px;
}

#stul3 {
  top: 135px;
  left: 5px;
}
#s9 {
  left: 5px;
  top: 120px;
}

#s10 {
  left: 22px;
  top: 120px;
}
#s11 {
  left: 5px;
  top: 148px;
}
#s12 {
  left: 22px;
  top: 148px;
}

#stul2 {
  top: 80px;
  left: 5px;
}
#s5 {
  left: 5px;
  top: 65px;
}

#s6 {
  left: 22px;
  top: 65px;
}
#s7 {
  left: 5px;
  top: 93px;
}
#s8 {
  left: 22px;
  top: 93px;
}

#stul1 {
  top: 30px;
  left: 5px;
}
#s1 {
  left: 5px;
  top: 15px;
}

#s2 {
  left: 22px;
  top: 15px;
}
#s3 {
  left: 5px;
  top: 43px;
}
#s4 {
  left: 22px;
  top: 43px;
}

#vpravo {
  left: 390px;
  top: -10px;
}

#klub {
  left: 100px;
  top: 550px;
}

.p1, .p3 {
  cursor: pointer;
}

#border {
  //border: 2px solid yellow;
  width: 574px;
  position: absolute;
  height: 427px;
}		